<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cdocument.getloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link  href="style.css" rel="stylesheet">
</head>
<body>
	
		<!--<div id="contenedor_carga">
			<div id="carga"></div>
		</div>-->
		

	<div id="app">
		
		<div id="contenedor_carga">
			<div id="carga">
				<!--<div class="spinner-border" role="status" id="contenedor">
  					<span class="sr-only">Loading...</span>
				</div>-->
			</div> 
		</div>
		
		
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="index.html"><img src="img/maiz.png"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls=        "navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<a class="navbar-brand" href="index.html">Home</a>
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						 <li class="nav-item active">
								<a class="nav-link" href="post.html">Post <span class="sr-only">(current)</span></a>
							</li>
							
					</ul>
			
				</div>
		</nav>

		<!-- Post -->
		<div class="container-fluid padding">
			<div class="row welcome text-center">
				<div class="col-12">
					<h1 class="display-4">Mejores posts</h1>
				</div>
				<hr>
			</div>
		</div>
		<!-- cards -->


		<template v-if="category == 'marvel'">
			<h2 class="cat-title mb-3 col-10">Categoria: Marvel</h2>
			<!--card 1-->
			<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/peli.jpg" class="card-img" style="max-width: 540px;">
						</div>
					
							<div class="col-md-9 ">
									<div class="card-body">
										<h5 class="card-title">Advengers: End game</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">Ver mas</a>
										<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

								<!-- Modal -->
								<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Advengers: End game</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="450" height="315" src="https://www.youtube.com/embed/VhCUoIuC5zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>Advengers: End game</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>

									</div>
							</div>
						
					</div>
				</div>
			</div>
			<!-- card 2-->
			<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/peli5.jpg" class="card-img" style="max-width: 540px;">
						</div>
							<div class="col-md-9">
								<div class="card-body">
									<h5 class="card-title">Pantera Negra</h5>
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalGlass">Ver mas</a>
									<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

									<!-- Modal -->
									<div class="modal fade" id="modalGlass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Pantera Negra</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/qNWaMx9Z2Wg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>Pantera Negra</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>
								</div>
							</div>
					</div>
				</div>
			</div>	
			<!-- card3-->
			<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/peli3.jpg" class="card-img" style="max-width: 540px;">
						</div>
							<div class="col-md-9">
								<div class="card-body">
									<h5 class="card-title">Capitana Marvel</h5>
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalCap">Ver mas</a>
									<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

									<!-- Modal -->
									<div class="modal fade" id="modalCap" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Capitana Marvel</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/j-WojK3iUwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>Capitana Marvel</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>
								</div>
							</div>
					</div>
				</div>
			</div>	
			
		</template>

		<template v-else-if="category == 'actions'">
			<!--Card 1-->
			<h2 class="cat-title mb-3 col-10">Categoria: Acción</h2>
			<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/peli2.jpg" class="card-img" style="max-width: 540px;">
						</div>
							<div class="col-md-9">
								<div class="card-body">
									<h5 class="card-title">GLASS</h5>
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalGlass">Ver mas</a>
									<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

									<!-- Modal -->
									<div class="modal fade" id="modalGlass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">GLASS</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/0lIrilPzuyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>GLASS</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>
								</div>
							</div>
					</div>
				</div>
			</div>	

				<!--card 2-->
				<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/peli6.jpg" class="card-img" style="max-width: 540px;">
						</div>
					
							<div class="col-md-9 ">
									<div class="card-body">
										<h5 class="card-title">El justiciero</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalJust">Ver mas</a>
										<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

								<!-- Modal -->
								<div class="modal fade" id="modalJust" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">El justiciero</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/IibsmbB6PXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>El justiciero</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>

									</div>
							</div>
						
					</div>
				</div>
			</div>

				<!--card 3-->
				<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/peli7.jpg" class="card-img" style="max-width: 540px;">
						</div>
					
							<div class="col-md-9 ">
									<div class="card-body">
										<h5 class="card-title">Venganza</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalVeng">Ver mas</a>
										<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

								<!-- Modal -->
								<div class="modal fade" id="modalVeng" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Venganza</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/YegEMuICMe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>Venganza</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>

									</div>
							</div>
						
					</div>
				</div>
			</div>

		</template>

		<template v-else-if="category == 'Romance'">
			<!--card 1 -->
			<h2 class="cat-title mb-3 col-10">Categoria: Romance</h2>
			<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/titanic.jpg" class="card-img" style="max-width: 540px;">
						</div>
					
							<div class="col-md-9 ">
									<div class="card-body">
										<h5 class="card-title">Titanic</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalTitac">Ver mas</a>
										<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

								<!-- Modal -->
								<div class="modal fade" id="modalTitac" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Titanic</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/-iRajLSA8TA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>Titanic</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>

									</div>
							</div>
						
					</div>
				</div>
			</div>
			

			<!-- card 2-->
			<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/pasion.png" class="card-img" style="max-width: 540px;">
						</div>
					
							<div class="col-md-9 ">
									<div class="card-body">
										<h5 class="card-title">Diario de una pasión</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalDia">Ver mas</a>
										<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

								<!-- Modal -->
								<div class="modal fade" id="modalDia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Diario de una pasión</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/XtdHnkiXFQc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>Diario de una pasión</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>

									</div>
							</div>
						
					</div>
				</div>
			</div>
			
			<!--card 3-->
			<div class="row container" style="margin: 0 5px;">
				<div class="card mb-3 col-10">
					<div class="row no-gutters">
						<div class="col-md-3">
							<img src="img/peli8.png" class="card-img" style="max-width: 540px;">
						</div>
					
							<div class="col-md-9 ">
									<div class="card-body">
										<h5 class="card-title">Yo antes de ti</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">Ver mas</a>
										<p class="card-text"><small class="text-muted">Ultima actualización: hace 3 minutos</small></p>

								<!-- Modal -->
								<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle">Yo antes de ti</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												 
												<div class="video-container">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/XcwGIYwXm44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											
												<div class="text-container">
													<h2>Yo antes de ti</h2>
													<hr>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, quibusdam atque unde beatae, ipsam, tempora maxime aut voluptate consequuntur, veniam quidem. Modi, odio, qui! Iure recusandae, impedit alias molestias deleniti!</p>
												</div>
												

												<div class="container mt-5">
													<h3>{{titulo}}</h3>								
													<input type="text" class="form-control my-3" maxlength="200" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
													<button class="btn btn-primary" @click="agregarTarea">Agregar</button>
													<div class="mt-3"	 v-for="(item, index) of tareas">								
														<div class="alert alert-primary" role="alert">
											  			<div class="d-flex justify-content-between align-items-center">
											  				
											  				<div style="width: 95%;">
											  					<p>{{item.nombre}}</p> 
											  				</div>
												  			<div style="width: 5%;">
												  					<button class="btn btn-danger btn-sm" @click= "eliminar(index)">X</button>
												  			</div>
												  		</div>
														</div>
													</div>								
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>

									</div>
							</div>
						
					</div>
				</div>
			</div>
			
		</template>

		<div class="container-category">
		<div class="card" style="width: 18rem;">
		  <div class="card-header">
		    Featured
		  </div>
		  <div class="list-group list-group-flush">
		    <a class="list-group-item list-group-item-action" href="#" @click="set_category('marvel')">MARVEL</a>
		    <a class="list-group-item list-group-item-action" href="#" @click="set_category('actions')">Acción</a>
			<a class="list-group-item list-group-item-action" href="#" @click="set_category('Romance')">Romance</a>
		  </div>
	</div>
		</div>

			
		<!--Footer -->
		<footer>
			<div class="container-fluid padding">
				<div class="row text-center">
					<div class="col-md-4">
						<img src="img/video.png" >
						<hr class="light">
						<p>0414-505.4337</p>
						<p>valeriavilla635@gmail.com</p>
						<p>Calle las violetas</p>
						<p>San Diego, Carabobo, 2006</p>
					</div>
					<div class="col-md-4">
						<hr class="light">
						<h5>Our hours</h5>
						<hr class="light">
						<p>Monday: 9am - 5pm</p>
						<p>Saturday: 10am - 4pm</p>
						<p>Sunday: closed</p>
					</div>
					<div class="col-md-4">
						<hr class="light">
						<h5>Zones</h5>
						<hr class="light">
						<p>San diego, Carabobo, 2006</p>
						<p>Valencia, Carabobo, 2000</p>
						<p>Caracas, Distrito Capital, 2004</p>
					</div>
					<div class="col-12">
						<hr class="light-100">
						<h5>&copy; soyvaleria.com</h5>
					</div>
				</div>
			</div>
		</footer>
	</div>
		<script>
			window.onload = function(){
				var contenedor = document.getElementById('contenedor_carga');
				setTimeout(function(){
				contenedor.style.visibility = 'hidden';
				contenedor.style.opacity = '0';
			},3000);
}
		</script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="app.js"></script>

</body>
</html>

